script.
  if(window.navigator.geolocation){
    console.log("Geolocation available!")
  }
  else{
    console.warn("Geolocation not available!")
  }

style(type="text/css").
  html, body{
    padding: 0;
    margin: 0;
    background-color:red
  }